# use glob syntax
syntax: glob

*.obj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.opensdf
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.pidb
*.userprefs
*.build.csdef
TraceLog.txt
EmbedRes/
packages/
UpgradeLog*.*
_UpgradeReport*/
Thumbs.db